# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/
# Jupyter
.ipynb_checkpoints/

# Environment / credentials
.env
.env.*
!.env.example
*.pem
*.key
credentials.json
